<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.0-9/71817613_1344363065738019_5838391530716397568_o.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=du9sTHN6uhkAX-MJECE&_nc_oc=AQkMhuHwaxdao7vNzhZGrP-4sg4AB73PjvQfrNtw2JhbEgqJmLH4FNJO4oZfeSTeZ1k&_nc_ht=scontent.fcdg1-1.fna&oh=0caab0db9050d233c83ca6ac0cfe1d77&oe=5FE37D01);">
  <div class="container">
    <h1>Welcome to Global Volunteers! <i class="fas fa-hands-helping"></i></h1>
    <p>Le bénévolat vous tend les bras.</p>
    <%= link_to "Voir missions", missions_path, class:"btn btn-primary" %>
  </div>
</div>