.btn-ghost {
  color: #01244d;
  border: 1px solid #01244d;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.red-bg {
  background-color: rgb(255, 75, 75);
}

.btn-ghost-blue {
  background-color: #01244d;
  color: white;
  border: 1px solid #01244d;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-ghost-blue:hover {
  background-color: #0a133c;
  color: white;
 }
