.container {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  max-width: 100% !important;
  max-height: 100% !important;
}

.form {
position: relative;
width: 350px;
margin: 0 auto;
}

.links{
font-weight: lighter;
font-size: 13px;
}
