.sign-form {
width: 500px;
text-align: center;
background-color: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .form-control{
background-color: $light-gray;
  }
}

.links{
font-weight: lighter;
font-size: 13px;
}

