.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC;
  color: #005C9C;
  font-weight: bold;
  font-size: 16px;
}

.navbar a {
  color: #005C9C !important;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px !important;
  }

.navbar a:hover {
  border-bottom: 3px solid #005C9C;
  transition: border 200ms ease;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  border-bottom: none;
}


