.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: FCFCFC;
  color: #2165A2;
  fo: bold, 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
