<h1>Toutes les missions :</h1>

<% @missions.each do |mission| %>
<div>
<%= mission.title %>
<%= link_to 'DETAILS', mission_path(mission) %>
</div>
<% end %>

<%= link_to "Créer une mision", new_mission_path  %>